[submodule "Projects/P0/LINFO1252-P0"]
	path = Projects/P0/LINFO1252-P0
	url = https://github.com/Mathis003/LINFO1252-P0.git
[submodule "Projects/LINFO1252-P2"]
	path = Projects/LINFO1252-P2
	url = https://github.com/Mathis003/LINFO1252-P2.git
[submodule "Projects/LINFO1252_P1"]
	path = Projects/LINFO1252_P1
	url = https://github.com/Mathis003/LINFO1252_P1.git
